# Gradle Files
build
.gradle

# Local repository
cpp/repo
cpp/source-dependencies/repos/list-library
cpp/source-dependencies/repos/utilities-library
swift/source-dependencies/repos/list-library
swift/source-dependencies/repos/utilities-library
swift/injected-plugins/repos
swift/swift-package-manager-publish/release-plugin
swift/swift-package-manager-publish/list-library
swift/swift-package-manager-publish/utilities-library

# Swift Package Manager Files
.build
Packages
Package.resolved

# Xcode Files
*.xcodeproj
*.xcworkspace

# AppCode/IDEA Files
.idea
*.iml
*.ipr
*.iws
out/

# Mac OS Junk
.DS_Store
